

<aside class = "sidebar">

    <div class="container">

        <div class="line ">
            <div class=" py-3  d-flex align-items-center justify-content-left ">
                <div class="lorem d-flex align-items-center justify-content-left">
                    <div class="circleMid"></div>
                    <p  class="my-auto ms-3 fw-bold">Lorem ipsum</p> 
                 </div>
            </div>  
        </div>


        
    </div>
    
    <ul class="mt-5">
        <li >
            <p class="fw-bold" app-circle-small color="#000000"></p >
        </li>
        <li class="">
            <p app-circle-small textColor="grey"></p >
        </li>
        <li>
            <p app-circle-small textColor="grey"></p >
        </li>
    </ul>

</aside>