

<div class="bigStarColor">
    <div class="circular-progress">
    <div class="circular-progress-circle" >
        <div class="segment bg-light" style="transform: rotate(14deg) skew(0deg)"></div>
        <div class="segment" style="transform: rotate(69deg) skew(0deg)" [ngStyle]="{'background-color': colorArc}"></div>
        <div class="segment" style="transform: rotate(140deg) skew(0deg)" [ngStyle]="{'background-color': colorArc}"></div>    
        <div class="segment" style="transform: rotate(180deg) skew(0deg)" [ngStyle]="{'background-color': colorArc}"></div>
        <div class="segment" style="transform: rotate(30deg) skew(90deg)" [ngStyle]="{'background-color': colorArc}"></div>
    </div>
    <div class="circular-progress-inner" [ngStyle]="{'background-color': color}"></div>
    <p class="circular-progress-value ">Lorem ipsum <br> dolor sit</p>
    </div>

    <app-star-og></app-star-og>
</div>
