<aside class="sidebar">
    <div class="container">

        <div class="line ">
            <h4 class="py-3 fw-bold">Lorem ipsum dolor sit <br> amet ?</h4>
        </div>
        
        <h6 class="mt-5">Lorem ipsum:</h6>
        <p class="py-3">Lorem ipsum dolor sit amet consectetur adipisicing elit.  Libero nostrum consequuntur nobis temporibus tenetur.  A saepe illo velit harum nam iusto, amet ab mollitia  dignissimos corporis debitis expedita ex officia, tempora  hic praesentium rerum minus!</p>
        <div id="btn" class="d-flex justify-content-end" > 
            <button class="btn btn-primary border-0 rounded-pill py-2 px-5 ">Lorem</button>
        </div>
        
    </div>
</aside>