
<div class="container">

<p class="mb-2 pt-4">Lorem ipsum</p>

<div class=" box">

     <ul class="mx-auto d-flex justify-content-around align-items-center pt-3 my-auto">
        <li class="">
            <div app-circle-big  ></div>
        </li>
        <li class="">
            <div app-circle-star-off color="#000000" colorArc="#bdbbbb"></div>
        </li>
        <li class="">
            <div app-circle-star-off color="#472759" colorArc="#bdbbbb"></div>
             
        </li>
    </ul>

</div>
</div>