
<main>
        
        <div class="row">
            <aside class="col-md-2">
                <div class="box ms-3">
                    <app-side-left></app-side-left>
                </div>
                </aside>
            <section class="col-md-7">

                <app-center></app-center>

            </section>
            <aside class="col-md-3">
                <div class="box p-3 me-3">
                    <app-side-right></app-side-right>
                </div>
            </aside>
        </div>
     
</main>