.circleSmall{

    background: #472759;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    
}
   #small {
        display: flex;
        justify-content: left;
    }


     /* ****************** */
         /* Responsive */
    /* ****************** */
  @media (max-width: 767px) {

    #small {
        display: flex;
        justify-content: center;
        margin-right: 40px;
    }

    .circleSmall {
        
    width: 30px;
    height: 30px;
    }

  }
